@import "~@skyux/theme/scss/variables";
@import "~@skyux/theme/scss/themes/modern/_compat/variables";

.sky-page-header {
  &-parent-link,
  &-page-title {
    display: inline-block;
    block-size: fit-content;
  }

  &-parent-link,
  &-parent-link a{
    color: $sky-text-color-action-primary;
  }

  &-midline-centered {
    position: relative;
    top: -0.4em;
    font-size: 0.4em;
  }

  &-nbsp:before {
    content: "\00a0\00a0";
  }

  &-space:before {
    content: "\00a0 ";
  }
}

:host-context(.sky-theme-modern) {
  .sky-page-header {
    &-parent-link,
    &-parent-link a {
      color: $sky-theme-modern-text-color-action-primary;
    }
  }
}

:host-context(.sky-theme-modern.sky-theme-mode-dark) {
  .sky-page-header {
    &-parent-link,
    &-parent-link a {
      color: $sky-theme-modern-mode-dark-text-color-action-primary;
    }
  }
}
