<span class="sky-hub-and-spoke">
  <span class="sky-hub-and-spoke-hub-link">
    <a
      *ngIf="hubLink.permalink.url"
      [href]="hubLink.permalink.url"
      class="sky-font-heading-1"
      >{{ hubLink.label }}</a
    >
    <a
      *ngIf="hubLink.permalink.route"
      [routerLink]="hubLink.permalink.route"
      class="sky-font-heading-1"
      >{{ hubLink.label }}</a
    >
    <span class="sky-hub-and-spoke-nbsp"></span>
    <span class="sky-hub-and-spoke-midline-centered">
      <sky-icon *skyThemeIf="'default'" icon="chevron-right"></sky-icon>
      <sky-icon
        *skyThemeIf="'modern'"
        icon="chevron-right"
        iconType="skyux"
      ></sky-icon>
    </span>
    <span class="sky-hub-and-spoke-space"></span>
  </span>
  <wbr />
  <span class="sky-hub-and-spoke-spoke-title sky-font-heading-1">
    {{ spokeTitle }}
  </span>
</span>
