@import "~@skyux/theme/scss/variables";
@import "~@skyux/theme/scss/mixins";

.needs-attention-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  &-details,
  &-icon {
    color: $sky-theme-modern-font-deemphasized-color;
  }

  &-key-info {
    flex-grow: 1;
  }

  &-icon {
    order: 1;
  }
}

sky-column:last-child {
  > a {
    border-bottom: none;
  }
}
