<div class="sky-box sky-elevation-1-bordered sky-padding-even-xl">
  <h2 class="sky-font-heading-4">{{ 'Needs Attention' | skyLibResources }}</h2>
  <sky-fluid-grid [gutterSize]="0">
    <sky-row>
      <sky-column
        *ngFor="let item of items; let isLast = last"
        screenXSmall="12"
        [screenSmall]="items.length > 6 ? 6 : 12"
      >
        <ng-template #link>
          <sky-icon
            *skyThemeIf="'default'"
            class="needs-attention-item-icon"
            icon="chevron-right"
          ></sky-icon>
          <sky-icon
            *skyThemeIf="'modern'"
            class="needs-attention-item-icon"
            icon="chevron-right"
            iconType="skyux"
          ></sky-icon>
          <sky-key-info layout="horizontal">
            <sky-key-info-label>{{ item.title }}</sky-key-info-label>
            <sky-key-info-value>{{ item.message }}</sky-key-info-value>
          </sky-key-info>
        </ng-template>
        <a
          *ngIf="item.permalink.route"
          class="needs-attention-item sky-margin-inline-lg sky-padding-vertical-lg sky-border-bottom-light"
          [routerLink]="item.permalink.route"
        >
          <ng-container *ngTemplateOutlet="link"></ng-container>
        </a>
        <a
          *ngIf="item.permalink.url"
          class="needs-attention-item sky-margin-inline-lg sky-padding-vertical-lg sky-border-bottom-light"
          [href]="item.permalink.url"
        >
          <ng-container *ngTemplateOutlet="link"></ng-container>
        </a>
      </sky-column>
    </sky-row>
  </sky-fluid-grid>
</div>
